@model SchoolSolution.Models.Department
@{
    ViewBag.Title = "Details";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
        
    <fieldset>
        <legend>Account</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Abbreviation)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Abbreviation)
        </div>
     </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}