@model PagedList.IPagedList<SchoolSolution.Models.UserProfile>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Directory";
}

<div class="ContentTitle">
    <h1>@ViewBag.Title</h1>
</div>

    
@using (Html.BeginForm("Index", "Account", FormMethod.Get))
{
    <div>
        Search: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { placeholder = "Enter text..." })
        <input type="submit" value="Filter" />
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("User Name", "Index", new { sortOrder = ViewBag.UserNameSortParm, currentFilter=ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("First Name", "Index", new {sortOrder = ViewBag.FirstNameSortParm, currentFilter=ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("Last Name", "Index", new {sortOrder = ViewBag.LastNameSortParm, currentFilter=ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("Last Activity", "Index", new {sortOrder = ViewBag.LastActivitySortParm, currentFilter=ViewBag.CurrentFilter})
        </th>
    </tr>

@for (int i = 1; i <= Model.Count(); i++ )
{
    <tr class="data" style="cursor:pointer" onclick ="location.href = '@(Url.Action("Details", "Account", new { id = Model.ElementAt(i-1).UserName }))'">
        <td>
            @Html.DisplayFor(model => Model.ElementAt(i-1).UserName)
        </td>
        <td>
            @Html.DisplayFor(model => Model.ElementAt(i-1).FirstName)
        </td>
        <td>
            @Html.DisplayFor(model => Model.ElementAt(i-1).LastName)
        </td>
        <td>
            @Html.DisplayFor(model => Model.ElementAt(i-1).LastActivityOn)
        </td>
    </tr>
}
    
</table>

<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

<div class="centered">
    @Html.PagedListPager( Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter }) )
</div>